
#mynetwork {
  width: 600px;
  height: 400px;
  border: 1px solid lightgray;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.form-area {
  margin-left: 10px !important;
}

.select-size {
  height: 25px !important;
  max-height: 25px !important;
}

.ng-select .ng-select-container {
  min-height: 20px !important;
}

.ng-select.ng-select-single .ng-select-container {
  height: 20px !important;
}

.grid-area {
  background-color: var(--cardContentColor) !important;
  border-style: dotted !important;
  border-color: var(--cardOutline) !important;
}

.grid-area-with-side-panel {
  border-left: 0 solid !important;
}

.content-color {
  background-color: var(--sidePanelTopColor) !important;
}

.example-container {
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.example-sidenav-content {
  display: flex !important;
  height: 100% !important;
  width: 100% !important;
}

.example-sidenav {
  padding: 10px;
}


.black-text {
  color: black;
}

.side-panel {
  width: 100px;
}

.side-panel-color {
  /*
  background-color: #e3ece3 !important;
  */
  background-color: #E3EEF5 !important;
}

.circle {
  background: #fcc;
  padding: 0;
  width: 20px; /** fix width ***/
  height: 20px; /** fix width ***/
  text-align: center;
  display: inline;
  border-radius: 50%;
  line-height: 20px; /** for vertical center - if needed **/
}

.button-icon {
  border-width: 0;
  border-style: none;
  background-color: inherit;
  margin: 0;
}

.no-show {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

.show {
  display: block;
  width: 100% !important;
  height: 100% !important;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.disabled-button:disabled {
  .disabled-btn-color {
    color: dimgrey !important;
  }
}

.slider {
  color: #ff4081 !important;
  margin-right: 15px !important;
}

:host ::ng-deep .slider .mat-slider-thumb {
  background-color: #ff4081 !important;;
}

:host ::ng-deep .slider .mat-slider-thumb-label {
  background-color: #ff4081 !important;;
}

:host ::ng-deep .slider .mat-slider-track-fill {
  background-color: #ff4081 !important;;
}

:host ::ng-deep .mat-slider-track-background {
  background-color: lightsteelblue !important;
}
